<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="static/test.css">
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum saepe, praesentium at porro ratione repellat sit magnam ducimus dolor commodi similique eveniet pariatur eos assumenda non quia. Alias, cumque debitis.</p>
</body>
</html>